//自訂的 class 樣式

.drop-down-icon{
    color: #62DB54;
    }
    
// .navbar-toggler:focus{
//       box-shadow: none;
//       outline: none;
//   }

.brand-logo{
    display: block;
    background-image: url(../images/logo2.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    @media screen and (min-width: 768px){
        background-image: url(../images/logo.svg);
        width: 172px;
        height: 42px;
    }

    text-indent: 101%; 
    overflow: hidden; 
    white-space: nowrap; 
}